<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/logout">logout</a>
  <ul>
    <% accounts.forEach((item) => { %>
    <li>
      <div>事項：<%= item.title %></div>
      <div>時間：<%= item.time %></div>
      <div>種類：<%= item.type > 0 ? '收入' : '支出' %></div>
      <div>金額：<%= item.account %></div>
      <a href="/account/<%= item._id %>">delete</a>
    </li>
    <% }) %>
  </ul>
</body>
</html>